<div id="whole-page">
  <div id="headline">
    ESTIMATE THE PRICE
  </div>

  <div class="row">
    <div id="card" class="col-xl-7 col-lg-8 col-md-9 col-sm-10">
      <div id="mileage-block">
        <span>Once you put the mileage into the field below, the predicted price for the car will appear</span>
        <form>
          <input id="input-field-for-mileage"
                 class="form-control"
                 placeholder="42000 km"
                 type="number"
                 #mileage
                 (keydown)="assertNotNegative($event)"
                 (input)="estimate(mileage.value)">
        </form>
        <div><img src="assets/car.png" alt="car"></div>
      </div>
      <div id="price-block">
        <div id="price"
             *ngIf="estimatedPrice >= 0">
          €{{estimatedPrice}}
        </div>
        <div id="no-thank-you-text"
             *ngIf="estimatedPrice < 0">
          You would actually have to pay us to take that car of yours
        </div>
      </div>
    </div>
  </div>
</div>
