* {
  background-color: var(--color-light-gray);
  font-family: 'Quicksand', sans-serif;
  color: var(--color-dark-gray);
}

:root {
  --color-light-gray: #f2f2f2;
  --color-dark-gray: #333333;
  --color-almost_white: #fcfcfc;
  --color-dark-blue: #0D4C66;
  --color-light-blue: #bed2da;
}

@font-face {
  font-family: 'Quicksand';
  src: url('assets/fonts/Quicksand-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('assets/fonts/Quicksand-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('assets/fonts/Quicksand-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
